@font-face {
    font-family: 'wonderul_wilderness_filled_Rg';
    src: url('wonderul_wilderness_filled_font-webfont.woff2') format('woff2'),
         url('wonderul_wilderness_filled_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{ 
	font-family: 'wonderul_wilderness_filled_Rg';
	src: url('wonderul_wilderness_filled_font-demo.html');
	src: url('wonderul_wilderness_filled_font-demo.html') format('embedded-opentype'),
	     url('wonderul_wilderness_filled_font-webfont.woff') format('woff'),
	     url('wonderul_wilderness_filled_font-demo.html') format('truetype'),
	     url('wonderul_wilderness_filled_font-demo.html') format('svg');
}

@font-face{ 
	font-family: 'dtcsunsetsweetheart';
	src: url('dtcsunsetsweetheart.eot');
	src: url('dtcsunsetsweetheart.eot?#iefix') format('embedded-opentype'),
	     url('dtcsunsetsweetheart.woff') format('woff'),
	     url('dtcsunsetsweetheart.ttf') format('truetype'),
	     url('dtcsunsetsweetheart.svg#dtcsunsetsweetheart') format('svg');}