@font-face{ 
	font-family: 'wonderul_wilderness_filled_Rg';
	src: url('wonderul_wilderness_filled_font-demo.html');
	src: url('wonderul_wilderness_filled_font-demo.html') format('embedded-opentype'),
	     url('wonderul_wilderness_filled_font-webfont.woff') format('woff'),
	     url('wonderul_wilderness_filled_font-demo.html') format('truetype'),
	     url('wonderul_wilderness_filled_font-demo.html') format('svg');
}

body{
  background-image: url("Weather\ Wireframe\ \(1\).png");
  background-size: 100%;
  background-repeat:repeat-y;
}

#mainHeading {
  color: rgb(50, 34, 122);
  font-family: 'wonderul_wilderness_filled_Rg', Arial, sans-serif;
  text-align: center;
  font-size: 100px;
}

#transparentBox{
  background-color: rgba(255, 255, 255, 0.514);
  border:transparent;
  position:sticky;
}

.row{
  padding: 5px;
}

#currentTemp{
  font-size: 108px;
}

#currentDetails {
  text-align: left;
  font-family: 'Sanchez', serif;
}

#currentInfo {
  text-align: right;
}

#currentDescrip{
  font-family: 'Sanchez', serif;
}

#dayTime{
  font-family: 'Sanchez', serif;
}

table{
  vertical-align: middle;
  border-spacing: 5px;
  margin:auto;
  text-align: center;
  padding: 5px;
}

.forecastDays {
  border: solid black 3px;
  text-align: center;
  padding: 0px;
}

ul{
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0px;
}

.weekDay{
  font-family: 'Sanchez', serif;
}

.forecastTemp{
  font-family: 'Sanchez', serif;
}

