@font-face{ 
	font-family: 'wonderul_wilderness_filled_Rg';
	src: url('wonderul_wilderness_filled_font-demo.html');
	src: url('wonderul_wilderness_filled_font-demo.html') format('embedded-opentype'),
	     url('wonderul_wilderness_filled_font-webfont.woff') format('woff'),
	     url('wonderul_wilderness_filled_font-demo.html') format('truetype'),
	     url('wonderul_wilderness_filled_font-demo.html') format('svg');
}

body{
  background-image: url("Weather\ Wireframe\ \(1\).png");
  background-size: 100%;
  background-repeat:repeat-y;
}

#mainHeading {
  color: rgb(50, 34, 122);
  font-family: 'wonderul_wilderness_filled_Rg', Arial, sans-serif;
  text-align: center;
  font-size: 75px;
}

#transparentBox{
  background-color: rgba(255, 255, 255, 0.514);
  border: solid black 3px;
  position:sticky;
}

table{
  border-collapse: collapse;
}

tbody{
  vertical-align: middle;
}

ul li {
  list-style-type: none;
  list-style: none;
}

#currentDetails {
  text-align: left;
  font-family: 'Sanchez', serif;
}

#currentInfo {
  text-align: right;
}

.forecastDays {
  border: solid black 3px;
  text-align: center;
}

.forecastTemp{
  font-family: 'Sanchez', serif;
}

#currentDescrip{
  font-family: 'Sanchez', serif;
}

#dayTime{
  font-family: 'Sanchez', serif;
}

.weekDay{
  font-family: 'Sanchez', serif;
}