body {
  background-image: url("background.png");
  background-size: 100%;
  background-repeat: repeat-y;
}

#mainHeading {
  color: rgb(0, 0, 0);
  font-family: "wonderul_wilderness_filled_Rg", Arial, sans-serif;
  text-align: center;
  font-size: 95px;
}

#searchBar {
  text-align: center;
  border-radius: 10px;
  border-color: black;
  border-width: 3px;
  font-size: 20px;
  color: #000000;
  margin-right: 5px;
}

#button {
  border-radius: 10px;
  border-color: black;
  border-width: 3px;
  font-size: 20px;
  background-color: #92e5f6;
}

#button:hover {
  background-color: #1dbac5;
}

#searchAndButton {
  display: flex;
  font-family: "Sanchez", serif;
  padding-top: 10px;
  justify-content: center;
}

#transparentBox {
  background-color: rgba(255, 255, 255, 0.514);
  border: transparent;
  position: sticky;
}

#currentPic {
  align-content: center;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#lastUpdate {
  font-family: "sanchez", serif;
  font-size: 24px;
}

.row::first-letter {
  text-transform: capitalize;
}

#currentTemp {
  font-size: 100px;
  font-family: "Sanchez", serif;
  text-align: center;
}

.active {
  cursor: default;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #1dbac5;
}

#units {
  font-size: 24px;
  font-family: "Sanchez", serif;
  text-align: center;
}

.units{
  text-align: center;
}

.forecastIcons{
 align-self: center;
}

#units.hover {
  color: #1dbac5;
  text-decoration: none;
}

#currentDetails {
  text-align: left;
  font-family: "Sanchez", serif;
  font-size: 24px;
  padding-top: 18px;
}

#currentCity {
  font-family: "bfc_coffee_shopregular", sans-serif;
  font-size: 40px;
}

#currentInfo {
  text-align: right;
  font-size: 24px;
  vertical-align: middle;
}

#currentDescrip {
  font-family: "Sanchez", serif;
  text-transform: capitalize;
}

.forecast{
  text-align: center;
}

img.forecastIcons{
  vertical-align: middle;
}

#dayTime {
  font-family: "Sanchez", serif;
}

.forecastDate {
  font-family: "bfc_coffee_shopregular", serif;
  text-align: center;
  padding: 0px;
  font-size: 34px;
}

ul {
  display: block;
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
}

.forecastTemps {
  font-family: "sanchez", serif;
  font-weight: normal;
  font-size: 24px;
  text-align:center;
}

.forecastTempMax{
  font-weight:bold;
}

.forecastTempMin{
  font-weight:lighter;
}

#divider{
  display: inline;
  font-weight: 100;
}

#credit {
  font-family: "Sanchez", serif;
  font-size:smaller;
}

#githubLink {
  color: black;
  font-family: "bfc_coffee_shopregular","Sanchez";
}
